@font-face { font-family: DM; src: url('DankMono-Regular.ttf'); } 

body {
    background-color: black;
    font-family: DM;
}

.container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -10%;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title {
    color: #FFF;
}

.job-title {
    margin-top: -1%;
    color: #FF2E88;
}

.section-title {
    margin-top: 1%;
    color: #CCC;
    font-weight: 100;
}

.skill {
    color: #fff;
    margin-top: -2%;
}

.links {
    color: #50E3C2;
    margin-top: -1%;
}

footer {
    position: absolute;
    bottom: 2%;
    right: 0;
    left: 0;
    text-align: center;
}